body {
	font-family: "Roboto Mono", Monaco, Consolas, "Courier New", monospace;
}
.nav-container{ background-color: white; }
	.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;} /* this make our menu fixed top */

.nav { height: 42px;}
	.nav ul { list-style: none; }
	.nav ul li{float: left; margin-top: 6px; padding: 6px; }
	.nav ul li:first-child{ padding-left: 0;}
	.nav ul li a {
		color: rgb(21, 21, 21);
	}
	.nav ul li a:hover, .nav ul li a:focus{
		text-decoration: none;
		color: rgb(245, 166, 63);
    	background: transparent;
	}

	.slide-section-layout{
		width: 100%;
	}

	.logo{
		height: 100px;
		width: auto;
		display: block;
	}
	
	.top-header {
		height: 50px;
		background: rgb(229, 231, 233);
		padding-top: 10px;
	}

	.nav-container {
		padding: 20px 0;
		height: 120px;
		max-width: 1670px;
		margin-left: auto;
		margin-right: auto;
	}

	.nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	.nav .row .col-md-6:last-child{
		padding-top: 30px;
	}

	.nav ul li {
    	width: 150px;
	}

	.nav ul {
		float: right;
		position: relative;
	}

	.nav ul li a{
		margin-left: auto;
		margin-right: auto;
	}

	.nav div.row{
		width: -webkit-fill-available;
	}

	.slide-section-main {
		width: 68% !important;
		display: inline-block !important;
		/* padding-right: 32px; */
	}

	.slide-section-aside {
		width: 32% !important;
		display: inline-block !important;
		margin-left: 20px;
	}

	.slick-slide img{
		height: 700.51px;
	}

	.my-block-banner img{
		padding-bottom: 20px;
	}

	.slick-dots {
		bottom: 20px !important;
	}

	.slick-dots button{
		bottom: 20px !important;
	}

	.slick-dots button::before{
		font-size: 26px !important;
		color: #fff !important;
	}

	.slick-dots li.slick-active button:before{
		font-size: 26px !important;
		color: #fff !important;
		border: 1.5px orange solid !important;
		border-radius: 15px;
		opacity: 1 !important;
	}
	
	/* .owl-item {
		width: 100% !important;
		height: auto;
	} */
	/* .my-carousel{
		padding-right: 15px;
	} */

@media (min-width: 1800px) {
	header {

	}

	.my-carousel{
		/* box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box; */
		box-shadow: inset -15px 0px 0px 0px #fff;
		/* border-right: white 15px solid; */
	}

	.owl-carousel{
		/* width: 77%;
		transform: skew(-10deg);
		transform-origin: 100% 100% 0px;
		left: -116px; */
		/* -webkit-clip-path: polygon(polygon(0% 0%, 70% 0%, 81% 100%, 0% 100%)) !important;
		clip-path: polygon(polygon(0% 0%, 70% 0%, 81% 100%, 0% 100%)) !important; */
	}

	.my-block-banner img{
		width: 100%;
	}

	.slide-section-layout{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.section-layout-main{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		width: 72%;
		transform: skew(10deg);
		transform-origin: 0 100%;
	}

	.section-layout-aside{
		position: relative;
		z-index: 2;
		overflow: hidden;
		width: 35%;
		padding: 0 0 0 0;
		margin-left: 35px;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		transform: skew(10deg);
		transform-origin: 100% 100%;
	}
}
