<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>React JS</title>
    <link rel="stylesheet" type="text/css" href='/style/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href='/style/app.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/style/owl.carousel.min.css">
    <link rel="stylesheet" href="/style/owl.theme.default.min.css">
    <link rel="stylesheet" href="/style/animate.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/script/site.js"></script>
    <script src="/lib/owl.carousel.min.js"></script>
  </head>
  <body>
    <div id='root'></div>
    <script src="bundle.js"></script>
  </body>
</html>
